body {
	font-family: 'Open Sans', sans-serif;
	background-color: #FBE9E7;
}
.navbar {
	border-radius: 0px !important;
}
.navbar-default .navbar-brand {
	color: #ffffff;
}
.navbar-default {
    background-color: #FF5722;
    border-color: #FF5722;
}
#mute {
	font-size: 72px;
	cursor: pointer;
}
#footer-line {
	color: #ffffff;
	line-height: 50px;
}
#ques iframe {
	margin: 0px auto;
	display: inherit;	
}